.ChangePasswordPopUp {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    z-index: 15;
    width: 100%;
    height: 100vh;
}
.change-pass-container {
    /* max-width: 40rem; */
    /* width: 100%; */
    /* height: 30rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem;
}
.change-pass-container-1 {
    display: flex;
    justify-content: end;
    /* padding: 1rem; */
    width: 100%;
    padding-bottom: 1rem;
}
.change-pass-container-1 i {
    cursor: pointer;
}
.change-pass-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.change-pass-container-2 input {
    border: 1px solid rgba(0,0,0,0.5);
    padding: .5rem;
    border-radius: 5px;
    width: 20rem;
    font-size: 1rem;
}
.change-pass-btn {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-btn-color);
    color: white;
    cursor: pointer;
    font-size: 1rem;
}